<!DOCTYPE html>
<html>
<head>
  <title>Table Data</title>
</head>
<body>
  <h1>Table Data - Second Prove</h1>

  <form method="post" action="{% url 'add_data' %}">
    {% csrf_token %}
    <input type="text" name="name" placeholder="name">
    <input type="number" name="value" placeholder="value">
    <button type="submit">Agregar</button>
  </form>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for d in data %}
      <tr>
        <td>{{ d.name }}</td>
        <td>{{ d.value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
